# ESTUDIO DE PRODUCCION ELECTRICIDAD DE PAISES MIEMBROS DE LA OCDE

In [2]:
# Importamos las librerias necesarias para poder realizar el estudio
import pandas as pd
import numpy as np

In [3]:
# Configuración de pandas para mostrar todas las filas y columnas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
# Leer el archivo CSV, saltando las primeras 8 filas porque es texto explicativo
df = pd.read_csv('data/MES_0324.csv', encoding='Windows-1252', skiprows=8)

# Mostrar las primeras filas del dataframe pa ra verificar que se ha leído correctamente
df.head()

,Country,Time,Balance,Product,Value,Unit
0,Australia,March 2024,Net Electricity Production,Electricity,23130.2764,GWh
1,Australia,March 2024,Net Electricity Production,Total Combustible Fuels,14353.8714,GWh
2,Australia,March 2024,Net Electricity Production,"Coal, Peat and Manufactured Gases",10304.7825,GWh
3,Australia,March 2024,Net Electricity Production,Oil and Petroleum Products,330.5351,GWh
4,Australia,March 2024,Net Electricity Production,Natural Gas,3492.4621,GWh

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140988 entries, 0 to 140987
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Country  140988 non-null  object
 1   Time     140988 non-null  object
 2   Balance  140988 non-null  object
 3   Product  140988 non-null  object
 4   Value    140970 non-null  float64
 5   Unit     140988 non-null  object
dtypes: float64(1), object(5)
memory usage: 6.5+ MB

In [6]:
# Valoramos valores nulos
df.isnull().sum()

Country     0
Time        0
Balance     0
Product     0
Value      18
Unit        0
dtype: int64

In [7]:
porcentaje = df.isnull().sum()/len(df)*100
porcentaje

Country    0.000000
Time       0.000000
Balance    0.000000
Product    0.000000
Value      0.012767
Unit       0.000000
dtype: float64

In [8]:
# Eliminamos las filas con valores nuelos debido a que no tienen ningún efecto su eliminación
df_clean = df.dropna(subset=['Value'])

In [9]:
# Verificamos que no tenemos valores nulos
df_clean.isnull().sum()

Country    0
Time       0
Balance    0
Product    0
Value      0
Unit       0
dtype: int64

Como podemos ver ya no tenemos valores nulos en nuestro dataframe. 

Ahora como solo tenemos una columna numérica, vamos a analizar los outliers:

In [ ]:
fig = px.box()